body{
    background-color: black;
    margin: 0;
}
h1{
    text-align: center;
    background-color: #7ac6ff;
    color:white;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 400%;
    padding:2%;
    line-height: 1.1;
    padding-right:8%;
}
#col{
    font-size: 120%;
    font-stretch: expanded;
}
#container{
    width:80%;
    margin:0 auto;
}
.square{
    width:30%;
    background: purple;
    padding-bottom: 30%;
    float:left;
    margin:1.66%;
    border-radius:10%;
    transition: background 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
}
div span{
    display: inline-block;
    width:30%;
    margin-left: 3%;
    color:black;
}
#stripe{
    background-color: white;
    text-align: center;
    font-weight: bolder;
}
.selected{
    background-color:#7ac6ff;
    color: white;
}
button{
    font-family: monospace;
    border:0px solid black;
    font-size: 200%;
    background: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#7ac6ff;
}
#textDisplay{
    font-family: monospace;
    border:none;
    font-size: 200%;
    background: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#7ac6ff;
    text-align: center;
    transition: all 0.3s ;
}
#play{
    margin-right: 10%;
    margin-left: 2%;
}
button:hover{
    background-color:#7ac6ff;
    color:white;
}
